body{
    height: 100vh;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 280px;
    padding: 22px 29px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 26px 11px rgba(0,0,0,0.13);
    background: linear-gradient(100deg, #717ae6, #b659ae);
}

button{
    padding: 20px 20px;
    margin: 10px;
    font-size: 22px;
    border-top-left-radius: 30%;
    border: transparent;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

label{
    color: whitesmoke;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
input[type="number"]{
    padding: 8px;
    width: 170px;
    margin-bottom: 5px;
    font-family:'Verdana', sans-serif;
    font-size: 16px;
}
.container .Btns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.container .input-box{
    display: flex;
    justify-content: center;
    align-items: center;
}